:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

:host, div {
    overflow: auto;
    height: 100%;
}

mat-toolbar-row {
    display: flex;
    justify-content: space-between;
}

mat-toolbar-row:nth-child(2) {
    display: flex;
    justify-content: space-between;
}